_target_: interplan.planning.scenario_builder.benchmark_scenario_filter.BenchmarkScenarioFilter
_convert_: 'all'

defaults:
  # Add common items
  - modifications: interPlan_modifications

scenario_types:  null                # List of scenario types to include
scenario_tokens:                # List of scenario tokens to include
- 168c4e592f1b5984-s2
- 168c4e592f1b5984-s1
- 168c4e592f1b5984-s0
- 18089089fbd655a5-dlgloa
- 18089089fbd655a5-dlglom
- 18089089fbd655a5-dlgsoa
- 18089089fbd655a5-dlgloc
- 18089089fbd655a5-dlgroc
- 18089089fbd655a5-dlgroa
- 18089089fbd655a5-dlgrom
- 18089089fbd655a5-dlgsoc
- 18089089fbd655a5-dlgsom
- 18089089fbd655a5-dmgloa
- 18089089fbd655a5-dmgloc
- 18089089fbd655a5-dmglom
- 18089089fbd655a5-dmgsoa
- 18089089fbd655a5-dmgroa
- 18089089fbd655a5-dmgsoc
- 18089089fbd655a5-dmgrom
- 18089089fbd655a5-dmgroc
- 18089089fbd655a5-dmgsom
- 2d62c3139aa95007-dlgloa
- 2d62c3139aa95007-dlgloc
- 18089089fbd655a5-dhgloa
- 18089089fbd655a5-dhgloc
- 18089089fbd655a5-dhglom
- 2d62c3139aa95007-dlglom
- 2d62c3139aa95007-dlgroa
- 2d62c3139aa95007-dlgroc
- 2d62c3139aa95007-dlgsoa
- 18089089fbd655a5-dhgroa
- 2d62c3139aa95007-dlgrom
- 2d62c3139aa95007-dlgsom
- 18089089fbd655a5-dhgsoa
- 18089089fbd655a5-dhgroc
- 2d62c3139aa95007-dlgsoc
- 18089089fbd655a5-dhgrom
- 18089089fbd655a5-dhgsoc
- 18089089fbd655a5-dhgsom
- 2d62c3139aa95007-dmgloa
- 2d62c3139aa95007-dmgloc
- 2d62c3139aa95007-dmglom
- 2d62c3139aa95007-dmgroa
- 2d62c3139aa95007-dmgroc
- 2d62c3139aa95007-dmgrom
- 2d62c3139aa95007-dmgsoa
- 2d62c3139aa95007-dmgsoc
- 2d62c3139aa95007-dmgsom
- 2d62c3139aa95007-dhgloa
- 2d62c3139aa95007-dhgloc
- 2d62c3139aa95007-dhglom
- 2d62c3139aa95007-s3
- 2d62c3139aa95007-dhgroa
- 2d62c3139aa95007-dhgroc
- 2d62c3139aa95007-dhgsoa
- 2d62c3139aa95007-dhgsoc
- 2d62c3139aa95007-dhgrom
- 2d62c3139aa95007-s0
- 2d62c3139aa95007-s2
- 2d62c3139aa95007-s1
- 2d62c3139aa95007-s6
- 2d62c3139aa95007-s12
- 2d62c3139aa95007-dhgsom
- 2d62c3139aa95007-s7
- 2d62c3139aa95007-s4
- 2d62c3139aa95007-s5
- 2d62c3139aa95007-s13
- 2d62c3139aa95007-s8
- 2d62c3139aa95007-s14
- 2d62c3139aa95007-s9
- 2d62c3139aa95007-s10
- 2d62c3139aa95007-s11
- 5016a2a4ad1350d6-dlgloa
- 5016a2a4ad1350d6-dlglom
- 5016a2a4ad1350d6-dlgloc
- 5016a2a4ad1350d6-dlgroa
- 5016a2a4ad1350d6-dlgroc
- 5016a2a4ad1350d6-dlgrom
- 5016a2a4ad1350d6-dlgsoa
- 5016a2a4ad1350d6-dlgsoc
- 5016a2a4ad1350d6-dmgloc
- 5016a2a4ad1350d6-dlgsom
- 5016a2a4ad1350d6-dmglom
- 5016a2a4ad1350d6-dmgloa
- 5016a2a4ad1350d6-s0
- 5016a2a4ad1350d6-s1
- 5016a2a4ad1350d6-dmgroc
- 5016a2a4ad1350d6-dmgroa
- 5016a2a4ad1350d6-dmgrom
- 5016a2a4ad1350d6-s2
- 5016a2a4ad1350d6-dmgsoc
- 5016a2a4ad1350d6-dhgloa
- 5016a2a4ad1350d6-dmgsom
- 5016a2a4ad1350d6-dmgsoa
- 5016a2a4ad1350d6-dhgloc
- 5016a2a4ad1350d6-dhglom
- 5016a2a4ad1350d6-dhgroa
- 5016a2a4ad1350d6-dhgroc
- 5016a2a4ad1350d6-dhgrom
- 5016a2a4ad1350d6-dhgsoa
- 5016a2a4ad1350d6-dhgsoc
- 5016a2a4ad1350d6-dhgsom
- 5016a2a4ad1350d6-s3
- a457677a18045dbc-dlgloc
- a457677a18045dbc-dlgloa
- a457677a18045dbc-dlglom
- a457677a18045dbc-dlgroa
- a457677a18045dbc-dlgroc
- a457677a18045dbc-dlgrom
- a457677a18045dbc-dlgsoa
- a457677a18045dbc-dlgsoc
- a457677a18045dbc-dlgsom
- a457677a18045dbc-dmgloa
- a457677a18045dbc-dmgloc
- a457677a18045dbc-dmglom
- a457677a18045dbc-dmgroa
- a457677a18045dbc-dmgroc
- a457677a18045dbc-dmgrom
- a457677a18045dbc-dmgsoa
- a457677a18045dbc-dhgloa
- a457677a18045dbc-dmgsom
- a457677a18045dbc-dmgsoc
- a457677a18045dbc-dhgloc
- a457677a18045dbc-dhglom
- a457677a18045dbc-dhgroa
- 71f182558ee95100-dlgloa
- a457677a18045dbc-dhgroc
- a457677a18045dbc-dhgrom
- 71f182558ee95100-dlgloc
- 71f182558ee95100-dlglom
- 71f182558ee95100-dlgroc
- a457677a18045dbc-dhgsoa
- 71f182558ee95100-dlgroa
- 71f182558ee95100-dlgrom
- a457677a18045dbc-dhgsoc
- 71f182558ee95100-dlgsoc
- 71f182558ee95100-dlgsoa
- a457677a18045dbc-dhgsom
- 71f182558ee95100-dlgsom
- 71f182558ee95100-dmgloc
- 71f182558ee95100-dmglom
- 71f182558ee95100-dmgloa
- 71f182558ee95100-dmgroa
- 71f182558ee95100-dmgrom
- 71f182558ee95100-dmgroc
- 71f182558ee95100-dmgsoa
- 71f182558ee95100-dmgsoc
- 71f182558ee95100-s5
- 71f182558ee95100-dmgsom
- 71f182558ee95100-s4
- 71f182558ee95100-s6
- 71f182558ee95100-s2
- 71f182558ee95100-s1
- 71f182558ee95100-s3
- 71f182558ee95100-s0
- 71f182558ee95100-s8
- 71f182558ee95100-s7
- 71f182558ee95100-s9
- 81f400b414215325-dlgroa
- 81f400b414215325-dlgroc
- 81f400b414215325-dlgsoa
- 81f400b414215325-dlgrom
- 81f400b414215325-dlgsoc
- 81f400b414215325-dmgroa
- 81f400b414215325-dlgsom
- 81f400b414215325-dmgroc
- 81f400b414215325-dmgrom
- 81f400b414215325-dmgsoa
- 81f400b414215325-dmgsoc
- 81f400b414215325-dmgsom
- 81f400b414215325-dhgroa
- 81f400b414215325-dhgrom
- 81f400b414215325-dhgroc
- 81f400b414215325-dhgsoa
- 81f400b414215325-dhgsoc
- 81f400b414215325-dhgsom
- 81f400b414215325-s0
- 81f400b414215325-s1
- 948201ecfe2c560a-dlgloa
- 948201ecfe2c560a-s1
- 948201ecfe2c560a-dlglom
- 948201ecfe2c560a-dlgsoc
- 948201ecfe2c560a-dlgloc
- 948201ecfe2c560a-dlgsom
- 948201ecfe2c560a-dlgsoa
- 948201ecfe2c560a-dmgloa
- 948201ecfe2c560a-dmglom
- 948201ecfe2c560a-dmgloc
- 948201ecfe2c560a-s2
- 948201ecfe2c560a-dmgsoc
- 948201ecfe2c560a-dmgsoa
- 948201ecfe2c560a-dmgsom
- 948201ecfe2c560a-s0
- c710330e5114501c-dlgloa
- c710330e5114501c-dlgloc
- c710330e5114501c-dlglom
- c710330e5114501c-dlgroc
- c710330e5114501c-dlgsoa
- c710330e5114501c-dlgroa
- c710330e5114501c-dlgrom
- c710330e5114501c-dlgsoc
- c710330e5114501c-dlgsom
- c710330e5114501c-dmgloa
- c710330e5114501c-dmgloc
- c710330e5114501c-dmglom
- c710330e5114501c-dmgroa
- c710330e5114501c-dmgsoa
- c710330e5114501c-dmgsoc
- c710330e5114501c-dmgroc
- c710330e5114501c-dmgrom
- c710330e5114501c-dmgsom
- c710330e5114501c-dhgloa
- c710330e5114501c-dhgloc
- c710330e5114501c-dhglom
- c710330e5114501c-dhgsoa
- c710330e5114501c-dhgsoc
- c710330e5114501c-dhgroa
- c710330e5114501c-dhgrom
- c710330e5114501c-dhgroc
- c710330e5114501c-dhgsom
- c710330e5114501c-s0
- c710330e5114501c-s3
- c710330e5114501c-s2
- c710330e5114501c-s1
- c710330e5114501c-s4
- cd0e827efbe85a8f-dlgroa
- cd0e827efbe85a8f-dlgroc
- cd0e827efbe85a8f-dlgrom
- cd0e827efbe85a8f-dlgsoa
- cd0e827efbe85a8f-dlgsoc
- cd0e827efbe85a8f-dlgsom
- cd0e827efbe85a8f-dmgroc
- cd0e827efbe85a8f-dmgroa
- cd0e827efbe85a8f-dmgsoa
- cd0e827efbe85a8f-dmgrom
- cd0e827efbe85a8f-dmgsom
- cd0e827efbe85a8f-dmgsoc
- cd0e827efbe85a8f-s0
- cd0e827efbe85a8f-s1
- cd0e827efbe85a8f-s2
- 6dd2064204c654b7-dlgloa
- 6dd2064204c654b7-dlgloc
- 6dd2064204c654b7-dlglom
- 6dd2064204c654b7-dlgsoa
- 6dd2064204c654b7-dlgsoc
- 6dd2064204c654b7-dlgsom
- 6dd2064204c654b7-dmgloc
- 6dd2064204c654b7-dmgloa
- 6dd2064204c654b7-dmglom
- 6dd2064204c654b7-dmgsoa
- 6dd2064204c654b7-dhgloa
- 6dd2064204c654b7-dmgsoc
- d480a5d2b0fe5fe6-dlgloa
- 6dd2064204c654b7-s0
- 6dd2064204c654b7-dmgsom
- 6dd2064204c654b7-s1
- d480a5d2b0fe5fe6-dlgloc
- 6dd2064204c654b7-dhgloc
- 6dd2064204c654b7-s2
- d480a5d2b0fe5fe6-dlglom
- 6dd2064204c654b7-dhglom
- 6dd2064204c654b7-dhgsoa
- 6dd2064204c654b7-dhgsoc
- d480a5d2b0fe5fe6-dmgloa
- 6dd2064204c654b7-dhgsom
- d480a5d2b0fe5fe6-dmgloc
- d480a5d2b0fe5fe6-dmglom
- d480a5d2b0fe5fe6-dlgsoa
- d480a5d2b0fe5fe6-dlgsoc
- d480a5d2b0fe5fe6-dlgsom
- d480a5d2b0fe5fe6-dhgloa
- d480a5d2b0fe5fe6-dhgloc
- d480a5d2b0fe5fe6-dhglom
- d480a5d2b0fe5fe6-dmgsoa
- d480a5d2b0fe5fe6-dmgsoc
- d480a5d2b0fe5fe6-dmgsom
- 9e7581ef72155c9f-dlgloa
- 9e7581ef72155c9f-dlglom
- 9e7581ef72155c9f-dlgloc
- 9e7581ef72155c9f-dlgroc
- 9e7581ef72155c9f-dlgroa
- 9e7581ef72155c9f-dlgrom
- 9e7581ef72155c9f-dlgsoa
- 9e7581ef72155c9f-dlgsom
- d480a5d2b0fe5fe6-dhgsoc
- d480a5d2b0fe5fe6-dhgsom
- d480a5d2b0fe5fe6-dhgsoa
- 9e7581ef72155c9f-dlgsoc
- 9e7581ef72155c9f-dmgloa
- 9e7581ef72155c9f-dmglom
- 9e7581ef72155c9f-dmgloc
- 9e7581ef72155c9f-dmgroa
- 9e7581ef72155c9f-dmgroc
- 9e7581ef72155c9f-dmgrom
- 9e7581ef72155c9f-dmgsoc
- 9e7581ef72155c9f-dmgsoa
- 9e7581ef72155c9f-dmgsom
- 9e7581ef72155c9f-dhgloa
- 9e7581ef72155c9f-dhgloc
- 9e7581ef72155c9f-dhglom
- 9e7581ef72155c9f-dhgroa
- 9e7581ef72155c9f-dhgroc
- 9e7581ef72155c9f-dhgrom
- 9e7581ef72155c9f-dhgsoa
- 9e7581ef72155c9f-dhgsoc
- 9e7581ef72155c9f-s0
- 9e7581ef72155c9f-s1
- 9e7581ef72155c9f-dhgsom
- feb82815b92a5512-dlgloa
- feb82815b92a5512-dlgloc
- feb82815b92a5512-dlgroa
- feb82815b92a5512-dlgroc
- feb82815b92a5512-dlglom
- feb82815b92a5512-dlgrom
- feb82815b92a5512-dlgsoa
- feb82815b92a5512-dmgloa
- feb82815b92a5512-dlgsoc
- feb82815b92a5512-dmgloc
- feb82815b92a5512-dlgsom
- feb82815b92a5512-dmglom
- feb82815b92a5512-dmgroc
- feb82815b92a5512-dmgrom
- feb82815b92a5512-dmgroa
- feb82815b92a5512-dmgsoa
- feb82815b92a5512-dhgloa
- feb82815b92a5512-dmgsom
- feb82815b92a5512-dmgsoc
- feb82815b92a5512-dhglom
- feb82815b92a5512-dhgloc
- feb82815b92a5512-dhgrom
- feb82815b92a5512-dhgroc
- feb82815b92a5512-dhgroa
- feb82815b92a5512-dhgsoa
- feb82815b92a5512-dhgsoc
- feb82815b92a5512-dhgsom 

log_names: ${splitter.log_splits.test}  # Use all logs present in the test split
map_names: null                     # Filter scenarios by map names

num_scenarios_per_type: null         # Number of scenarios per type
limit_total_scenarios: null         # Limit total scenarios (float = fraction, int = num) - this filter can be applied on top of num_scenarios_per_type
timestamp_threshold_s: null         # Filter scenarios to ensure scenarios have more than `timestamp_threshold_s` seconds between their initial lidar timestamps
ego_displacement_minimum_m: null    # Whether to remove scenarios where the ego moves less than a certain amount
ego_start_speed_threshold: null     # Limit to scenarios where the ego reaches a certain speed from below
ego_stop_speed_threshold: null      # Limit to scenarios where the ego reaches a certain speed from above
speed_noise_tolerance: null         # Value at or below which a speed change between two timepoints should be ignored as noise.

expand_scenarios: false             # Whether to expand multi-sample scenarios to multiple single-sample scenarios
remove_invalid_goals: false          # Whether to remove scenarios where the mission goal is invalid
shuffle: false                      # Whether to shuffle the scenarios
